#refixePlayer {
  display: inline-block;
  box-sizing: border-box;
  height: 25px;
  line-height: 25px;
  padding: 0 8px;
  position: absolute;
  z-index: 1010;
  background: black;
  color: white;
  cursor: pointer;
  font-family: Arial, Helevetica, sans-serif;
  text-align: center;
}
